---
http_interactions:
- request:
    method: post
    uri: https://newtempge.bigmachines.com/v1_0/receiver
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:targetNamespace="urn:soap.bigmachines.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><bm:category
        xmlns:bm="urn:soap.bigmachines.com">Security</bm:category><bm:xsdInfo xmlns:bm="urn:soap.bigmachines.com"><bm:schemaLocation>https://newtempge.bigmachines.com/bmfsweb/newtempge/schema/v1_0/security/Security.xsd</bm:schemaLocation></bm:xsdInfo></env:Header><env:Body><targetNamespace:login><targetNamespace:userInfo><targetNamespace:username>TBSupport</targetNamespace:username><targetNamespace:password>changeme</targetNamespace:password></targetNamespace:userInfo></targetNamespace:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Ecid:
      - 005KIhgvY1gFw000jzwkno0004^i00001u
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='utf-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><bm:loginResponse
        xmlns:bm="urn:soap.bigmachines.com"><bm:status><bm:success>true</bm:success><bm:message>Sun
        Jun 04 19:17:16 CDT 2017 - Successfully processed API for newtempge</bm:message></bm:status><bm:userInfo><bm:sessionId>9hQnZ0jMgpv27GyZC6z7sbYq12zYzkHVD2gxlhmzc6GpLnX4MV1H!-1050761715!1496621836546</bm:sessionId></bm:userInfo></bm:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 05 Jun 2017 00:17:16 GMT
recorded_with: VCR 3.0.3
