---
http_interactions:
- request:
    method: post
    uri: https://newtempge.bigmachines.com/v1_0/receiver
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:targetNamespace="urn:soap.bigmachines.com" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><bm:userInfo xmlns:bm="urn:soap.bigmachines.com">
        <bm:sessionId>QpSpZ0pYqnkcq06tNC32lH2M2MTg4JLjvGG7SgpN2p0JnQNV2JfV!-1050761715!1496620728665</bm:sessionId>
        </bm:userInfo><bm:category xmlns:bm="urn:soap.bigmachines.com">Commerce</bm:category><bm:xsdInfo xmlns:bm="urn:soap.bigmachines.com"><bm:schemaLocation>https://newtempge.bigmachines.com/bmfsweb/newtempge/schema/v1_0/commerce/quotes_process_bmClone_16.xsd</bm:schemaLocation></bm:xsdInfo></env:Header><env:Body><targetNamespace:getTransaction><targetNamespace:transaction><targetNamespace:id>265393499</targetNamespace:id><targetNamespace:return_specific_attributes><targetNamespace:documents><targetNamespace:document><targetNamespace:var_name>quote_process</targetNamespace:var_name></targetNamespace:document></targetNamespace:documents></targetNamespace:return_specific_attributes></targetNamespace:transaction></targetNamespace:getTransaction></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getTransaction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-Oracle-Dms-Ecid:
      - 005KIgf807uFw000jzwkno0004^i00006S
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='utf-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server</faultcode><faultstring>COMMERCE-ERR:No
        transactions were found for the given ID, 265393499</faultstring><detail xmlns:bm="urn:soap.bigmachines.com"><bm:fault><bm:exceptionCode>COMMERCE-ERR</bm:exceptionCode><bm:exceptionMessage>No
        transactions were found for the given ID, 265393499</bm:exceptionMessage></bm:fault></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Sun, 04 Jun 2017 23:58:52 GMT
recorded_with: VCR 3.0.3
