---
http_interactions:
- request:
    method: post
    uri: https://newtempge.bigmachines.com/v1_0/receiver
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:targetNamespace="urn:soap.bigmachines.com" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><bm:userInfo xmlns:bm="urn:soap.bigmachines.com">
        <bm:sessionId>nRw3Z0bcTbht1yvyV4mF3xXw3Q4DysT1gssrsQrWGyq18vMLzY2L!-1050761715!1496619804692</bm:sessionId>
        </bm:userInfo><bm:category xmlns:bm="urn:soap.bigmachines.com">Security</bm:category><bm:xsdInfo xmlns:bm="urn:soap.bigmachines.com"><bm:schemaLocation>https://newtempge.bigmachines.com/bmfsweb/newtempge/schema/v1_0/security/Security.xsd</bm:schemaLocation></bm:xsdInfo></env:Header><env:Body><targetNamespace:logout></targetNamespace:logout></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"logout"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Ecid:
      - 005KIfoAAOuFw000jzwkno0004^i00007V
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='utf-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><bm:logoutResponse
        xmlns:bm="urn:soap.bigmachines.com"><bm:status><bm:success>true</bm:success><bm:message>Sun
        Jun 04 18:43:30 CDT 2017 - Successfully processed API for newtempge</bm:message></bm:status></bm:logoutResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Sun, 04 Jun 2017 23:43:30 GMT
recorded_with: VCR 3.0.3
