---
http_interactions:
- request:
    method: post
    uri: https://newtempge.bigmachines.com/v1_0/receiver
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:targetNamespace="urn:soap.bigmachines.com" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><bm:userInfo xmlns:bm="urn:soap.bigmachines.com">
        <bm:sessionId>ThClZ0gH5YW2TBTn159bv4MMKsFxZ9VH1M4ZSVjCg1cXsprbykVb!-1050761715!1496621127409</bm:sessionId>
        </bm:userInfo><bm:category xmlns:bm="urn:soap.bigmachines.com">Commerce</bm:category><bm:xsdInfo xmlns:bm="urn:soap.bigmachines.com"><bm:schemaLocation>https://newtempge.bigmachines.com/bmfsweb/newtempge/schema/v1_0/commerce/quotes_process_bmClone_16.xsd</bm:schemaLocation></bm:xsdInfo></env:Header><env:Body><targetNamespace:updateTransaction><targetNamespace:transaction><targetNamespace:id>34706909</targetNamespace:id><targetNamespace:data_xml><targetNamespace:quote_process bs_id="34706909" data_type="0" document_number="1"><targetNamespace:opportunityName_quote>Test Oppty Auto Approval TinderBox</targetNamespace:opportunityName_quote><targetNamespace:siteName_quote>MY DUMMY SITE</targetNamespace:siteName_quote><targetNamespace:notesCMPM_es>http://subdomain.octiv.com/view/X2Y58?version=1</targetNamespace:notesCMPM_es></targetNamespace:quote_process></targetNamespace:data_xml><targetNamespace:action_data><targetNamespace:action_var_name>_update_line_items</targetNamespace:action_var_name></targetNamespace:action_data></targetNamespace:transaction></targetNamespace:updateTransaction></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"updateTransaction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Oracle-Dms-Ecid:
      - 005KIh55bBIFw000jzwkno0004^i00008d
      Content-Type:
      - text/xml; charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: <?xml version='1.0' encoding='utf-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><bm:updateTransactionResponse
        xmlns:bm="urn:soap.bigmachines.com"><bm:status><bm:success>true</bm:success><bm:message>Sun
        Jun 04 19:06:09 CDT 2017 - Successfully processed API for newtempge</bm:message></bm:status></bm:updateTransactionResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 05 Jun 2017 00:06:09 GMT
recorded_with: VCR 3.0.3
